/* Estilos generales */
.product-section {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

/* Estilos específicos para cada producto */
.risk-castle {
  background-color: #6B06AB; /* Fondo específico para Risk Castle */
}

.risk-castle .product-card {
  background-color: #8338EC; /* Color de tarjeta específico para Risk Castle */
}

.el-accidente-fue {
  background-color: #FF6C0E; /* Fondo específico para El Accidente Fue */
}

.el-accidente-fue .product-card {
  background-color: #FB5607; /* Color de tarjeta específico para El Accidente Fue */
}

.happybreak {
  background-color: #672F0C; /* Fondo específico para HappyBreak */
}

.happybreak .product-card {
  background-color: #8F3D00; /* Color de tarjeta específico para HappyBreak */
}

.read-the-docs {
  color: #888;
}
